/* ForgotPassword.module.css */

.forgotPasswordContainer {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .forgotPasswordContainer h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .forgotPasswordContainer p {
    margin-bottom: 20px;
  }
  
  .formBasicEmail {
    margin-bottom: 20px;
  }
  
  .formBasicEmail label {
    margin-bottom: 5px;
  }
  
  .formBasicEmail input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .submitButtonWrapper {
    text-align: center; /* Center the button */
  }
  
  .submitButton {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .submitButton:hover {
    background-color: #0056b3;
  }
  